## Data Cleaning, Transformation, and Merging

In [57]:
# import python libraries to clean the data
import pandas as pd
import numpy as np
import geopandas as gpd

In [58]:
# import the files to clean
poverty_file = 'data/ACSDT5Y2019.B17010_data_with_overlays_2021-11-11T084559.csv'
income_file = 'data/ACSDT5Y2019IncomeMedian.B19013_data_with_overlays_2021-11-17T194217.csv'
ethnicity_file = 'data/DECENNIALPL2020.P1_data_with_overlays_2021-11-11T084847.csv'
tree_canopy = 'data/Urban_Tree_Canopy_by_Census_Block_Group_in_2015.csv'

In [59]:
# read files with pandas

# census poverty file
poverty_file = pd.read_csv(poverty_file, header=[1])

# census income file
income_file = pd.read_csv(income_file, header=[0])

#census ethnicity file
ethnicity_file = pd.read_csv(ethnicity_file, header=[1])

#tree canopy from DC gov't open data
tree_canopy = pd.read_csv(tree_canopy, header=[0])

In [60]:
# create dataframes from the files
df_income = pd.DataFrame(income_file)
df_poverty = pd.DataFrame(poverty_file)
df_ethnicity = pd.DataFrame(ethnicity_file)
df_tree_canopy = pd.DataFrame(tree_canopy)

In [61]:
df_poverty.head()

,id,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Income in the past 12 months below poverty level:,Margin of Error!!Total:!!Income in the past 12 months below poverty level:,Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:,Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:,Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!With related children of the householder under 18 years:,Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!With related children of the householder under 18 years:,...,"Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:","Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:","Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years only","Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years only","Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years and 5 to 17 years","Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years and 5 to 17 years","Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!5 to 17 years only","Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!5 to 17 years only","Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!No related children of the householder under 18 years","Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!No related children of the householder under 18 years"
0,1500000US110010001001,"Block Group 1, Census Tract 1, District of Col...",414,105,32,48,0,12,0,12,...,47,45,0,12,4,8,43,45,13,21
1,1500000US110010001002,"Block Group 2, Census Tract 1, District of Col...",280,96,0,12,0,12,0,12,...,0,12,0,12,0,12,0,12,0,12
2,1500000US110010001003,"Block Group 3, Census Tract 1, District of Col...",251,103,0,12,0,12,0,12,...,0,12,0,12,0,12,0,12,15,25
3,1500000US110010001004,"Block Group 4, Census Tract 1, District of Col...",246,73,7,15,7,15,7,15,...,0,12,0,12,0,12,0,12,0,12
4,1500000US110010002011,"Block Group 1, Census Tract 2.01, District of ...",0,12,0,12,0,12,0,12,...,0,12,0,12,0,12,0,12,0,12

In [62]:
# check coumns of the census poverty data
df_poverty.columns

Index(['id', 'Geographic Area Name', 'Estimate!!Total:',
       'Margin of Error!!Total:',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!With related children of the householder under 18 years:',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!With related children of the householder under 18 years:',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!With related children of the householder under 18 years:!!Under 5 years only',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!With related children of the householder under 18 years:!!Under 5 years only',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!With related children of the householder under 18 years:!!Under 5 years and 5 to 17 years',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!With related children of the householder under 18 years:!!Under 5 years and 5 to 17 years',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!With related children of the householder under 18 years:!!5 to 17 years only',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!With related children of the householder under 18 years:!!5 to 17 years only',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!No related children of the householder under 18 years',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!No related children of the householder under 18 years',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other family:',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Other family:',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Male householder, no spouse present:',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Male householder, no spouse present:',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years only',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years only',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years and 5 to 17 years',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years and 5 to 17 years',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:!!5 to 17 years only',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:!!5 to 17 years only',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Male householder, no spouse present:!!No related children of the householder under 18 years',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Male householder, no spouse present:!!No related children of the householder under 18 years',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Female householder, no spouse present:',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Female householder, no spouse present:',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years only',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years only',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years and 5 to 17 years',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years and 5 to 17 years',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!5 to 17 years only',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!5 to 17 years only',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Female householder, no spouse present:!!No related children of the householder under 18 years',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Other family:!!Female householder, no spouse present:!!No related children of the householder under 18 years',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!With related children of the householder under 18 years:',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!With related children of the householder under 18 years:',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!With related children of the householder under 18 years:!!Under 5 years only',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!With related children of the householder under 18 years:!!Under 5 years only',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!With related children of the householder under 18 years:!!Under 5 years and 5 to 17 years',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!With related children of the householder under 18 years:!!Under 5 years and 5 to 17 years',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!With related children of the householder under 18 years:!!5 to 17 years only',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!With related children of the householder under 18 years:!!5 to 17 years only',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!No related children of the householder under 18 years',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!No related children of the householder under 18 years',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Male householder, no spouse present:',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Male householder, no spouse present:',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years only',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years only',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years and 5 to 17 years',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years and 5 to 17 years',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:!!5 to 17 years only',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Male householder, no spouse present:!!With related children of the householder under 18 years:!!5 to 17 years only',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Male householder, no spouse present:!!No related children of the householder under 18 years',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Male householder, no spouse present:!!No related children of the householder under 18 years',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years only',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years only',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years and 5 to 17 years',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!Under 5 years and 5 to 17 years',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!5 to 17 years only',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!With related children of the householder under 18 years:!!5 to 17 years only',
       'Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!No related children of the householder under 18 years',
       'Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Other family:!!Female householder, no spouse present:!!No related children of the householder under 18 years'],
      dtype='object')

In [63]:
# only keep necessary columns
df_poverty = df_poverty.filter(items=['id','Geographic Area Name', 'Estimate!!Total:','Margin of Error!!Total:','Estimate!!Total:!!Income in the past 12 months below poverty level:','Margin of Error!!Total:!!Income in the past 12 months below poverty level:'])

In [116]:
df_ethnicity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 11 columns):
 #   Column                                                                                Non-Null Count  Dtype
---  ------                                                                                --------------  -----
 0   id                                                                                    571 non-null    object
 1   Geographic Area Name                                                                  571 non-null    object
 2    !!Total:                                                                             571 non-null    int64
 3    !!Total:!!Population of one race:                                                    571 non-null    int64
 4    !!Total:!!Population of one race:!!White alone                                       571 non-null    int64
 5    !!Total:!!Population of one race:!!Black or African American alone                   571 non-null    int64
 6    !!Total:!!Population of one race:!!American Indian and Alaska Native alone           571 non-null    int64
 7    !!Total:!!Population of one race:!!Asian alone                                       571 non-null    int64
 8    !!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone  571 non-null    int64
 9    !!Total:!!Population of one race:!!Some Other Race alone                             571 non-null    int64
 10  census_bg                                                                             571 non-null    object
dtypes: int64(8), object(3)
memory usage: 49.2+ KB

In [65]:
# get the census block group id from the data
df_poverty_cbg = df_poverty['id'].str.split('US', expand=True)

In [66]:
df_poverty_cbg.head()

         0             1
0  1500000  110010001001
1  1500000  110010001002
2  1500000  110010001003
3  1500000  110010001004
4  1500000  110010002011

In [67]:
# only keep the census block id
df_poverty['census_bg'] = df_poverty_cbg[1]

In [68]:
df_poverty.head()

,id,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Income in the past 12 months below poverty level:,Margin of Error!!Total:!!Income in the past 12 months below poverty level:,census_bg
0,1500000US110010001001,"Block Group 1, Census Tract 1, District of Col...",414,105,32,48,110010001001
1,1500000US110010001002,"Block Group 2, Census Tract 1, District of Col...",280,96,0,12,110010001002
2,1500000US110010001003,"Block Group 3, Census Tract 1, District of Col...",251,103,0,12,110010001003
3,1500000US110010001004,"Block Group 4, Census Tract 1, District of Col...",246,73,7,15,110010001004
4,1500000US110010002011,"Block Group 1, Census Tract 2.01, District of ...",0,12,0,12,110010002011

In [69]:
# check census ethnicity file columns
df_ethnicity.columns

Index(['id', 'Geographic Area Name', ' !!Total:',
       ' !!Total:!!Population of one race:',
       ' !!Total:!!Population of one race:!!White alone',
       ' !!Total:!!Population of one race:!!Black or African American alone',
       ' !!Total:!!Population of one race:!!American Indian and Alaska Native alone',
       ' !!Total:!!Population of one race:!!Asian alone',
       ' !!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone',
       ' !!Total:!!Population of one race:!!Some Other Race alone',
       ' !!Total:!!Population of two or more races:',
       ' !!Total:!!Population of two or more races:!!Population of two races:',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!White; Black or African American',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!White; American Indian and Alaska Native',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!White; Asian',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!White; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!White; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; American Indian and Alaska Native',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; Asian',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!American Indian and Alaska Native; Asian',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!American Indian and Alaska Native; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!Asian; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!Asian; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of two races:!!Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of three races:',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!White; Black or African American; American Indian and Alaska Native',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!White; Black or African American; Asian',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!White; Black or African American; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!White; Black or African American; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!White; American Indian and Alaska Native; Asian',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!White; American Indian and Alaska Native; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!White; Asian; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!White; Asian; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!White; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; American Indian and Alaska Native; Asian',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; American Indian and Alaska Native; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; Asian; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; Asian; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!American Indian and Alaska Native; Asian; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of three races:!!Asian; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of four races:',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; American Indian and Alaska Native; Asian',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; American Indian and Alaska Native; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; Asian; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!White; American Indian and Alaska Native; Asian; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!White; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!Black or African American; American Indian and Alaska Native; Asian; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of four races:!!American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of five races:',
       ' !!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander',
       ' !!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; American Indian and Alaska Native; Asian; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of five races:!!White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of five races:!!Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race',
       ' !!Total:!!Population of two or more races:!!Population of six races:',
       ' !!Total:!!Population of two or more races:!!Population of six races:!!White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race'],
      dtype='object')

In [70]:
df_ethnicity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 73 columns):
 #   Column                                                                                                                                                                                                          Non-Null Count  Dtype
---  ------                                                                                                                                                                                                          --------------  -----
 0   id                                                                                                                                                                                                              571 non-null    object
 1   Geographic Area Name                                                                                                                                                                                            571 non-null    object
 2    !!Total:                                                                                                                                                                                                       571 non-null    int64
 3    !!Total:!!Population of one race:                                                                                                                                                                              571 non-null    int64
 4    !!Total:!!Population of one race:!!White alone                                                                                                                                                                 571 non-null    int64
 5    !!Total:!!Population of one race:!!Black or African American alone                                                                                                                                             571 non-null    int64
 6    !!Total:!!Population of one race:!!American Indian and Alaska Native alone                                                                                                                                     571 non-null    int64
 7    !!Total:!!Population of one race:!!Asian alone                                                                                                                                                                 571 non-null    int64
 8    !!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone                                                                                                                            571 non-null    int64
 9    !!Total:!!Population of one race:!!Some Other Race alone                                                                                                                                                       571 non-null    int64
 10   !!Total:!!Population of two or more races:                                                                                                                                                                     571 non-null    int64
 11   !!Total:!!Population of two or more races:!!Population of two races:                                                                                                                                           571 non-null    int64
 12   !!Total:!!Population of two or more races:!!Population of two races:!!White; Black or African American                                                                                                         571 non-null    int64
 13   !!Total:!!Population of two or more races:!!Population of two races:!!White; American Indian and Alaska Native                                                                                                 571 non-null    int64
 14   !!Total:!!Population of two or more races:!!Population of two races:!!White; Asian                                                                                                                             571 non-null    int64
 15   !!Total:!!Population of two or more races:!!Population of two races:!!White; Native Hawaiian and Other Pacific Islander                                                                                        571 non-null    int64
 16   !!Total:!!Population of two or more races:!!Population of two races:!!White; Some Other Race                                                                                                                   571 non-null    int64
 17   !!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; American Indian and Alaska Native                                                                             571 non-null    int64
 18   !!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; Asian                                                                                                         571 non-null    int64
 19   !!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; Native Hawaiian and Other Pacific Islander                                                                    571 non-null    int64
 20   !!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; Some Other Race                                                                                               571 non-null    int64
 21   !!Total:!!Population of two or more races:!!Population of two races:!!American Indian and Alaska Native; Asian                                                                                                 571 non-null    int64
 22   !!Total:!!Population of two or more races:!!Population of two races:!!American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander                                                            571 non-null    int64
 23   !!Total:!!Population of two or more races:!!Population of two races:!!American Indian and Alaska Native; Some Other Race                                                                                       571 non-null    int64
 24   !!Total:!!Population of two or more races:!!Population of two races:!!Asian; Native Hawaiian and Other Pacific Islander                                                                                        571 non-null    int64
 25   !!Total:!!Population of two or more races:!!Population of two races:!!Asian; Some Other Race                                                                                                                   571 non-null    int64
 26   !!Total:!!Population of two or more races:!!Population of two races:!!Native Hawaiian and Other Pacific Islander; Some Other Race                                                                              571 non-null    int64
 27   !!Total:!!Population of two or more races:!!Population of three races:                                                                                                                                         571 non-null    int64
 28   !!Total:!!Population of two or more races:!!Population of three races:!!White; Black or African American; American Indian and Alaska Native                                                                    571 non-null    int64
 29   !!Total:!!Population of two or more races:!!Population of three races:!!White; Black or African American; Asian                                                                                                571 non-null    int64
 30   !!Total:!!Population of two or more races:!!Population of three races:!!White; Black or African American; Native Hawaiian and Other Pacific Islander                                                           571 non-null    int64
 31   !!Total:!!Population of two or more races:!!Population of three races:!!White; Black or African American; Some Other Race                                                                                      571 non-null    int64
 32   !!Total:!!Population of two or more races:!!Population of three races:!!White; American Indian and Alaska Native; Asian                                                                                        571 non-null    int64
 33   !!Total:!!Population of two or more races:!!Population of three races:!!White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander                                                   571 non-null    int64
 34   !!Total:!!Population of two or more races:!!Population of three races:!!White; American Indian and Alaska Native; Some Other Race                                                                              571 non-null    int64
 35   !!Total:!!Population of two or more races:!!Population of three races:!!White; Asian; Native Hawaiian and Other Pacific Islander                                                                               571 non-null    int64
 36   !!Total:!!Population of two or more races:!!Population of three races:!!White; Asian; Some Other Race                                                                                                          571 non-null    int64
 37   !!Total:!!Population of two or more races:!!Population of three races:!!White; Native Hawaiian and Other Pacific Islander; Some Other Race                                                                     571 non-null    int64
 38   !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; American Indian and Alaska Native; Asian                                                                    571 non-null    int64
 39   !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander                               571 non-null    int64
 40   !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; American Indian and Alaska Native; Some Other Race                                                          571 non-null    int64
 41   !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; Asian; Native Hawaiian and Other Pacific Islander                                                           571 non-null    int64
 42   !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; Asian; Some Other Race                                                                                      571 non-null    int64
 43   !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; Native Hawaiian and Other Pacific Islander; Some Other Race                                                 571 non-null    int64
 44   !!Total:!!Population of two or more races:!!Population of three races:!!American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander                                                   571 non-null    int64
 45   !!Total:!!Population of two or more races:!!Population of three races:!!American Indian and Alaska Native; Asian; Some Other Race                                                                              571 non-null    int64
 46   !!Total:!!Population of two or more races:!!Population of three races:!!American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race                                         571 non-null    int64
 47   !!Total:!!Population of two or more races:!!Population of three races:!!Asian; Native Hawaiian and Other Pacific Islander; Some Other Race                                                                     571 non-null    int64
 48   !!Total:!!Population of two or more races:!!Population of four races:                                                                                                                                          571 non-null    int64
 49   !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; American Indian and Alaska Native; Asian                                                              571 non-null    int64
 50   !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander                         571 non-null    int64
 51   !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; American Indian and Alaska Native; Some Other Race                                                    571 non-null    int64
 52   !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander                                                     571 non-null    int64
 53   !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; Asian; Some Other Race                                                                                571 non-null    int64
 54   !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; Native Hawaiian and Other Pacific Islander; Some Other Race                                           571 non-null    int64
 55   !!Total:!!Population of two or more races:!!Population of four races:!!White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander                                             571 non-null    int64
 56   !!Total:!!Population of two or more races:!!Population of four races:!!White; American Indian and Alaska Native; Asian; Some Other Race                                                                        571 non-null    int64
 57   !!Total:!!Population of two or more races:!!Population of four races:!!White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race                                   571 non-null    int64
 58   !!Total:!!Population of two or more races:!!Population of four races:!!White; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race                                                               571 non-null    int64
 59   !!Total:!!Population of two or more races:!!Population of four races:!!Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander                         571 non-null    int64
 60   !!Total:!!Population of two or more races:!!Population of four races:!!Black or African American; American Indian and Alaska Native; Asian; Some Other Race                                                    571 non-null    int64
 61   !!Total:!!Population of two or more races:!!Population of four races:!!Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race               571 non-null    int64
 62   !!Total:!!Population of two or more races:!!Population of four races:!!Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race                                           571 non-null    int64
 63   !!Total:!!Population of two or more races:!!Population of four races:!!American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race                                   571 non-null    int64
 64   !!Total:!!Population of two or more races:!!Population of five races:                                                                                                                                          571 non-null    int64
 65   !!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander                  571 non-null    int64
 66   !!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; American Indian and Alaska Native; Asian; Some Other Race                                             571 non-null    int64
 67   !!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race        571 non-null    int64
 68   !!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race                                    571 non-null    int64
 69   !!Total:!!Population of two or more races:!!Population of five races:!!White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race                            571 non-null    int64
 70   !!Total:!!Population of two or more races:!!Population of five races:!!Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race        571 non-null    int64
 71   !!Total:!!Population of two or more races:!!Population of six races:                                                                                                                                           571 non-null    int64
 72   !!Total:!!Population of two or more races:!!Population of six races:!!White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race  571 non-null    int64
dtypes: int64(71), object(2)
memory usage: 325.8+ KB

In [71]:
# filter down columns
df_ethnicity = df_ethnicity.filter(items=['id', 'Geographic Area Name', ' !!Total:',
       ' !!Total:!!Population of one race:',
       ' !!Total:!!Population of one race:!!White alone',
       ' !!Total:!!Population of one race:!!Black or African American alone',
       ' !!Total:!!Population of one race:!!American Indian and Alaska Native alone',
       ' !!Total:!!Population of one race:!!Asian alone',
       ' !!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone',
       ' !!Total:!!Population of one race:!!Some Other Race alone'])

In [72]:
df_ethnicity.head()

,id,Geographic Area Name,!!Total:,!!Total:!!Population of one race:,!!Total:!!Population of one race:!!White alone,!!Total:!!Population of one race:!!Black or African American alone,!!Total:!!Population of one race:!!American Indian and Alaska Native alone,!!Total:!!Population of one race:!!Asian alone,!!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone,!!Total:!!Population of one race:!!Some Other Race alone
0,1500000US110010001011,"Block Group 1, Census Tract 1.01, District of ...",1406,1259,1083,47,5,92,1,31
1,1500000US110010001021,"Block Group 1, Census Tract 1.02, District of ...",1344,1205,1108,20,0,50,0,27
2,1500000US110010001022,"Block Group 2, Census Tract 1.02, District of ...",1089,1013,923,11,3,53,1,22
3,1500000US110010001023,"Block Group 3, Census Tract 1.02, District of ...",984,879,752,26,0,73,1,27
4,1500000US110010002011,"Block Group 1, Census Tract 2.01, District of ...",0,0,0,0,0,0,0,0

In [73]:
# get the census block id
df_ethnicity_cbg = df_ethnicity['id'].str.split('US', expand=True)

In [74]:
# only keep census block id
df_ethnicity['census_bg'] = df_ethnicity_cbg[1]

In [75]:
df_ethnicity.head()

,id,Geographic Area Name,!!Total:,!!Total:!!Population of one race:,!!Total:!!Population of one race:!!White alone,!!Total:!!Population of one race:!!Black or African American alone,!!Total:!!Population of one race:!!American Indian and Alaska Native alone,!!Total:!!Population of one race:!!Asian alone,!!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone,!!Total:!!Population of one race:!!Some Other Race alone,census_bg
0,1500000US110010001011,"Block Group 1, Census Tract 1.01, District of ...",1406,1259,1083,47,5,92,1,31,110010001011
1,1500000US110010001021,"Block Group 1, Census Tract 1.02, District of ...",1344,1205,1108,20,0,50,0,27,110010001021
2,1500000US110010001022,"Block Group 2, Census Tract 1.02, District of ...",1089,1013,923,11,3,53,1,22,110010001022
3,1500000US110010001023,"Block Group 3, Census Tract 1.02, District of ...",984,879,752,26,0,73,1,27,110010001023
4,1500000US110010002011,"Block Group 1, Census Tract 2.01, District of ...",0,0,0,0,0,0,0,0,110010002011

In [76]:
# get the census block id
df_income_cbg = df_income['id'].str.split('US', expand=True)

In [77]:
# only keep census block id of the income data
df_income['census_bg'] = df_income_cbg[1]

In [78]:
df_income.head()

,id,Geographic Area Name,Estimate!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars),Margin of Error!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars),census_bg
0,1500000US110010001001,"Block Group 1, Census Tract 1, District of Col...",155938,19233,110010001001
1,1500000US110010001002,"Block Group 2, Census Tract 1, District of Col...",197773,36748,110010001002
2,1500000US110010001003,"Block Group 3, Census Tract 1, District of Col...",237109,199725,110010001003
3,1500000US110010001004,"Block Group 4, Census Tract 1, District of Col...",216513,19537,110010001004
4,1500000US110010002011,"Block Group 1, Census Tract 2.01, District of ...",94605,25448,110010002011

In [79]:
# start the cleaning and merging with the tree canopy data
df_tree_canopy.head()

,OBJECTID_1,OBJECTID,TRACT,BLKGRP,GEOID,GID,TOTAL_AC,LAND_AC,T_CAN_AC,T_CAN_PCT,...,WATER_AC,WATER_PCT,UTC_AC06,UTC_PCT06,UTC_AC11,UTC_PCT11,PCT_CHG_06,PCT_CHG_11,SHAPEAREA,SHAPELEN
0,1,1,100,4,110010001004,1,287.26,166.02,92.93,55.975184,...,121.21,42.20,90.59,55.328895,90.53,54.209581,0.646289,1.765603,1.251183e+07,21554.244630
1,2,2,201,1,110010002011,2,133.35,133.34,39.42,29.563522,...,0.01,0.01,36.01,27.006150,35.17,26.376181,2.557372,3.187341,5.807665e+06,10661.938590
2,3,3,202,1,110010002021,3,47.44,47.44,15.31,32.272344,...,0.00,0.00,14.02,29.540666,13.63,28.718921,2.731678,3.553423,2.066793e+06,8808.711450
3,4,4,202,2,110010002022,4,33.48,33.48,11.52,34.408602,...,0.00,0.00,10.70,31.940299,10.04,29.970149,2.468304,4.438453,1.458943e+06,4940.845640
4,5,5,202,3,110010002023,5,38.17,38.17,9.17,24.024103,...,0.00,0.00,8.95,23.447734,8.62,22.583181,0.576369,1.440922,1.662652e+06,5300.316611

In [117]:
# merge the two dataframes by the census block groups
census_df = df_poverty.merge(df_ethnicity, how='left', on='census_bg')

In [118]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 449
Data columns (total 17 columns):
 #   Column                                                                                Non-Null Count  Dtype
---  ------                                                                                --------------  -----
 0   id_x                                                                                  450 non-null    object
 1   Geographic Area Name_x                                                                450 non-null    object
 2   Estimate!!Total:                                                                      450 non-null    int64
 3   Margin of Error!!Total:                                                               450 non-null    int64
 4   Estimate!!Total:!!Income in the past 12 months below poverty level:                   450 non-null    int64
 5   Margin of Error!!Total:!!Income in the past 12 months below poverty level:            450 non-null    int64
 6   census_bg                                                                             450 non-null    object
 7   id_y                                                                                  366 non-null    object
 8   Geographic Area Name_y                                                                366 non-null    object
 9    !!Total:                                                                             366 non-null    float64
 10   !!Total:!!Population of one race:                                                    366 non-null    float64
 11   !!Total:!!Population of one race:!!White alone                                       366 non-null    float64
 12   !!Total:!!Population of one race:!!Black or African American alone                   366 non-null    float64
 13   !!Total:!!Population of one race:!!American Indian and Alaska Native alone           366 non-null    float64
 14   !!Total:!!Population of one race:!!Asian alone                                       366 non-null    float64
 15   !!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone  366 non-null    float64
 16   !!Total:!!Population of one race:!!Some Other Race alone                             366 non-null    float64
dtypes: float64(8), int64(4), object(5)
memory usage: 63.3+ KB

In [119]:
# perform an inner merge on the census data and the additional median income data
census_df = census_df.merge(df_income, how='inner', on='census_bg')

In [120]:
census_df.head()

,id_x,Geographic Area Name_x,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Income in the past 12 months below poverty level:,Margin of Error!!Total:!!Income in the past 12 months below poverty level:,census_bg,id_y,Geographic Area Name_y,!!Total:,...,!!Total:!!Population of one race:!!White alone,!!Total:!!Population of one race:!!Black or African American alone,!!Total:!!Population of one race:!!American Indian and Alaska Native alone,!!Total:!!Population of one race:!!Asian alone,!!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone,!!Total:!!Population of one race:!!Some Other Race alone,id,Geographic Area Name,Estimate!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars),Margin of Error!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars)
0,1500000US110010001001,"Block Group 1, Census Tract 1, District of Col...",414,105,32,48,110010001001,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1500000US110010001001,"Block Group 1, Census Tract 1, District of Col...",155938,19233
1,1500000US110010001002,"Block Group 2, Census Tract 1, District of Col...",280,96,0,12,110010001002,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1500000US110010001002,"Block Group 2, Census Tract 1, District of Col...",197773,36748
2,1500000US110010001003,"Block Group 3, Census Tract 1, District of Col...",251,103,0,12,110010001003,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1500000US110010001003,"Block Group 3, Census Tract 1, District of Col...",237109,199725
3,1500000US110010001004,"Block Group 4, Census Tract 1, District of Col...",246,73,7,15,110010001004,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1500000US110010001004,"Block Group 4, Census Tract 1, District of Col...",216513,19537
4,1500000US110010002011,"Block Group 1, Census Tract 2.01, District of ...",0,12,0,12,110010002011,1500000US110010002011,"Block Group 1, Census Tract 2.01, District of ...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1500000US110010002011,"Block Group 1, Census Tract 2.01, District of ...",94605,25448

In [121]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 449
Data columns (total 21 columns):
 #   Column                                                                                               Non-Null Count  Dtype
---  ------                                                                                               --------------  -----
 0   id_x                                                                                                 450 non-null    object
 1   Geographic Area Name_x                                                                               450 non-null    object
 2   Estimate!!Total:                                                                                     450 non-null    int64
 3   Margin of Error!!Total:                                                                              450 non-null    int64
 4   Estimate!!Total:!!Income in the past 12 months below poverty level:                                  450 non-null    int64
 5   Margin of Error!!Total:!!Income in the past 12 months below poverty level:                           450 non-null    int64
 6   census_bg                                                                                            450 non-null    object
 7   id_y                                                                                                 366 non-null    object
 8   Geographic Area Name_y                                                                               366 non-null    object
 9    !!Total:                                                                                            366 non-null    float64
 10   !!Total:!!Population of one race:                                                                   366 non-null    float64
 11   !!Total:!!Population of one race:!!White alone                                                      366 non-null    float64
 12   !!Total:!!Population of one race:!!Black or African American alone                                  366 non-null    float64
 13   !!Total:!!Population of one race:!!American Indian and Alaska Native alone                          366 non-null    float64
 14   !!Total:!!Population of one race:!!Asian alone                                                      366 non-null    float64
 15   !!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone                 366 non-null    float64
 16   !!Total:!!Population of one race:!!Some Other Race alone                                            366 non-null    float64
 17  id                                                                                                   450 non-null    object
 18  Geographic Area Name                                                                                 450 non-null    object
 19  Estimate!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars)         450 non-null    int64
 20  Margin of Error!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars)  450 non-null    int64
dtypes: float64(8), int64(6), object(7)
memory usage: 77.3+ KB

In [122]:
# remove some columns
census_df = census_df.filter(items=['Geographic Area Name', 'census_bg', 'Estimate!!Total:',
       'Margin of Error!!Total:', 'Estimate!!Total:!!Income in the past 12 months below poverty level:',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:', 'Estimate!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars)',
       'Margin of Error!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars)', ' !!Total:',
       ' !!Total:!!Population of one race:',
       ' !!Total:!!Population of one race:!!White alone',
       ' !!Total:!!Population of one race:!!Black or African American alone',
       ' !!Total:!!Population of one race:!!American Indian and Alaska Native alone',
       ' !!Total:!!Population of one race:!!Asian alone',
       ' !!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone',
       ' !!Total:!!Population of one race:!!Some Other Race alone'])

In [123]:
# rename column
df_tree_canopy = df_tree_canopy.rename(columns = {'GEOID':'census_bg'})

In [124]:
# ensure the type matches with the tree data (int64)
census_df['census_bg']= census_df['census_bg'].apply(pd.to_numeric)

In [125]:
census_df['census_bg']

0      110010001001
1      110010001002
2      110010001003
3      110010001004
4      110010002011
           ...
445    110010110003
446    110010110004
447    110010111001
448    110010111002
449    110010111003
Name: census_bg, Length: 450, dtype: int64

In [126]:
# join the urban tree canopy data with the census data on the census block id
combined_utc_census_df = df_tree_canopy.merge(census_df, how='inner', on='census_bg')

In [127]:
combined_utc_census_df.head()

,OBJECTID_1,OBJECTID,TRACT,BLKGRP,census_bg,GID,TOTAL_AC,LAND_AC,T_CAN_AC,T_CAN_PCT,...,Estimate!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars),Margin of Error!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars),!!Total:,!!Total:!!Population of one race:,!!Total:!!Population of one race:!!White alone,!!Total:!!Population of one race:!!Black or African American alone,!!Total:!!Population of one race:!!American Indian and Alaska Native alone,!!Total:!!Population of one race:!!Asian alone,!!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone,!!Total:!!Population of one race:!!Some Other Race alone
0,1,1,100,4,110010001004,1,287.26,166.02,92.93,55.975184,...,216513,19537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,201,1,110010002011,2,133.35,133.34,39.42,29.563522,...,94605,25448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,3,202,1,110010002021,3,47.44,47.44,15.31,32.272344,...,250000,25448,1179.0,1094.0,935.0,43.0,5.0,98.0,0.0,13.0
3,4,4,202,2,110010002022,4,33.48,33.48,11.52,34.408602,...,217056,93935,775.0,719.0,646.0,13.0,1.0,47.0,0.0,12.0
4,5,5,202,3,110010002023,5,38.17,38.17,9.17,24.024103,...,185465,72914,926.0,848.0,757.0,24.0,3.0,50.0,0.0,14.0

In [128]:
combined_utc_census_df.columns

Index(['OBJECTID_1', 'OBJECTID', 'TRACT', 'BLKGRP', 'census_bg', 'GID',
       'TOTAL_AC', 'LAND_AC', 'T_CAN_AC', 'T_CAN_PCT', 'VEG_AC', 'VEG_PCT',
       'BLD_AC', 'BLD_PCT', 'TO_IA_AC', 'TO_IA_PCT', 'ROAD_AC', 'ROAD_PCT',
       'SWALK_AC', 'SWALK_PCT', 'OT_IA_AC', 'OT_IA_PCT', 'WAT_AC', 'WAT_PCT',
       'SOIL_AC', 'SOIL_PCT', 'UTC_AC', 'UTC_PCT', 'PPA_V_AC', 'PPA_V_PCT',
       'TO_PPA_AC', 'TO_PPA_PCT', 'PPA_IA_AC', 'PPA_IA_PCT', 'UN_IA_AC',
       'UN_IA_PCT', 'TO_UN_AC', 'TO_UN_PCT', 'UN_SL_AC', 'UN_SL_PCT',
       'UN_OT_AC', 'UN_OT_PCT', 'WATER_AC', 'WATER_PCT', 'UTC_AC06',
       'UTC_PCT06', 'UTC_AC11', 'UTC_PCT11', 'PCT_CHG_06', 'PCT_CHG_11',
       'SHAPEAREA', 'SHAPELEN', 'Geographic Area Name', 'Estimate!!Total:',
       'Margin of Error!!Total:',
       'Estimate!!Total:!!Income in the past 12 months below poverty level:',
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:',
       'Estimate!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars)',
       'Margin of Error!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars)',
       ' !!Total:', ' !!Total:!!Population of one race:',
       ' !!Total:!!Population of one race:!!White alone',
       ' !!Total:!!Population of one race:!!Black or African American alone',
       ' !!Total:!!Population of one race:!!American Indian and Alaska Native alone',
       ' !!Total:!!Population of one race:!!Asian alone',
       ' !!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone',
       ' !!Total:!!Population of one race:!!Some Other Race alone'],
      dtype='object')

In [129]:
# set index to the census block group id
combined_utc_census_df.set_index('census_bg')

,OBJECTID_1,OBJECTID,TRACT,BLKGRP,GID,TOTAL_AC,LAND_AC,T_CAN_AC,T_CAN_PCT,VEG_AC,...,Estimate!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars),Margin of Error!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars),!!Total:,!!Total:!!Population of one race:,!!Total:!!Population of one race:!!White alone,!!Total:!!Population of one race:!!Black or African American alone,!!Total:!!Population of one race:!!American Indian and Alaska Native alone,!!Total:!!Population of one race:!!Asian alone,!!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone,!!Total:!!Population of one race:!!Some Other Race alone
census_bg,,,,,,,,,,,,,,,,,,,,,
110010001004,1,1,100,4,1,287.26,166.02,92.93,55.975184,5.89,...,216513,19537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110010002011,2,2,201,1,2,133.35,133.34,39.42,29.563522,19.01,...,94605,25448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
110010002021,3,3,202,1,3,47.44,47.44,15.31,32.272344,3.78,...,250000,25448,1179.0,1094.0,935.0,43.0,5.0,98.0,0.0,13.0
110010002022,4,4,202,2,4,33.48,33.48,11.52,34.408602,2.86,...,217056,93935,775.0,719.0,646.0,13.0,1.0,47.0,0.0,12.0
110010002023,5,5,202,3,5,38.17,38.17,9.17,24.024103,1.68,...,185465,72914,926.0,848.0,757.0,24.0,3.0,50.0,0.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110010110003,446,446,11000,3,446,17.49,17.49,5.12,29.273871,1.21,...,111136,38912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110010110004,447,447,11000,4,447,28.85,28.85,9.69,33.587522,3.06,...,110781,42265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110010111001,448,448,11100,1,448,361.23,361.23,100.73,27.885281,38.05,...,94667,13568,2476.0,2308.0,213.0,1975.0,8.0,18.0,2.0,92.0
110010111002,449,449,11100,2,449,172.21,172.21,73.86,42.889495,32.18,...,87574,34406,1859.0,1734.0,347.0,1223.0,17.0,44.0,0.0,103.0
110010111003,450,450,11100,3,450,964.22,896.30,443.48,49.478969,256.01,...,50658,15240,1568.0,1462.0,134.0,1248.0,11.0,23.0,1.0,45.0

In [130]:
# drop some columns
combined_utc_census_df = combined_utc_census_df.drop(columns=['OBJECTID_1', 'TRACT', 'BLKGRP', 'GID', 'UTC_AC06',
       'UTC_PCT06', 'UTC_AC11', 'UTC_PCT11', 'PCT_CHG_06', 'PCT_CHG_11'])

In [131]:
combined_utc_census_df = combined_utc_census_df.rename(columns={"TOTAL_AC": "Total Area in acres", "LAND_AC": "Total Land Area in acres", "T_CAN_AC": "Tree Canopy in acres", 'T_CAN_PCT': "Tree Canopy area in percent",
       'UTC_AC': "Urban Tree Canopy area in acres", 'UTC_PCT': "Urban Tree Canopy area percent", 'PPA_V_AC': "Possible Vegetation Planting Area in acres", 'PPA_V_PCT': "Possible Vegetation Planting Area in percent",
       'TO_UN_AC': 'Total Unsuitable Planting Area in acres', 'TO_UN_PCT': "Total Unsuitable Planting Area in percent", 'VEG_AC': 'Vegetation in acres', 'VEG_PCT': 'Vegetation Percentage', 'BLD_AC':'Building area in acres', 'BLD_PCT': 'Building area in percent',
       'TO_IA_AC':'Total Impervious Area in acres', 'TO_IA_PCT': 'Total Impervious Area in percent', 'ROAD_AC':'Road Acres', 'ROAD_PCT':'Road Area in percent', 'SWALK_AC':'Sidewalk Area in acres', 'SWALK_PCT':'Sidewalk Area in percent', 'WAT_AC':'Surface Water Area in acres', 
                                                                'WAT_PCT':'Surface Water Area in percent', 'SOIL_AC':'Soil area in acres', 'SOIL_PCT': 'Soil area in percent', 
                                                                'TO_PPA_AC':'Total Possible Planting Area in acres', 'TO_PPA_PCT':'Total Possible Planting Area in percent', 'PPA_IA_AC':'Impervious Possible Planting Area in acres', 'PPA_IA_PCT':'Impervious Possible Planting Area in percent', 
'UN_IA_AC':'Unsuitable Impervious Planting Buildings and Roads Area in acres',
       'UN_IA_PCT':'Unsuitable Impervious Planting Buildings and Roads Area in percent', 'UN_SL_AC':'Unsuitable Soil and Vegetation Area in acres', 'UN_SL_PCT':'Unsuitable Soil and Vegetation Area in percent',
       'UN_OT_AC':'Unsuitable Other Land Area in acres', 'UN_OT_PCT':'Unsuitable Other Land Area in percent'})

In [132]:
combined_utc_census_df = combined_utc_census_df.drop(columns=['Estimate!!Total:',
    'Margin of Error!!Total:'])

In [133]:
combined_utc_census_df = combined_utc_census_df.rename(columns={
    'Estimate!!Total:!!Income in the past 12 months below poverty level:' : "Income in the past 12 months below poverty level",
       'Margin of Error!!Total:!!Income in the past 12 months below poverty level:' : "Margin of Error - Income in the past 12 months below poverty level",
       'Estimate!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars)': "Median household income in the past 12 months",
       'Margin of Error!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars)' : "Margin of Error - Median household income in the past 12 months",
       ' !!Total:': "Total Population", ' !!Total:!!Population of one race:' : "Total Population of one race",
       ' !!Total:!!Population of one race:!!White alone' : "Total White Population",
       ' !!Total:!!Population of one race:!!Black or African American alone' : "Total African American Population",
       ' !!Total:!!Population of one race:!!American Indian and Alaska Native alone' : "Total American Indian Population",
       ' !!Total:!!Population of one race:!!Asian alone' : "Total Asian Population",
       ' !!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone' : "Total Native Hawaiian Population",
       ' !!Total:!!Population of one race:!!Some Other Race alone' : "Total Population of Other Races"})

In [134]:
combined_utc_census_df.head()

,OBJECTID,census_bg,Total Area in acres,Total Land Area in acres,Tree Canopy in acres,Tree Canopy area in percent,Vegetation in acres,Vegetation Percentage,Building area in acres,Building area in percent,...,Median household income in the past 12 months,Margin of Error - Median household income in the past 12 months,Total Population,Total Population of one race,Total White Population,Total African American Population,Total American Indian Population,Total Asian Population,Total Native Hawaiian Population,Total Population of Other Races
0,1,110010001004,287.26,166.02,92.93,55.975184,5.89,3.547765,31.54,18.997711,...,216513,19537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,110010002011,133.35,133.34,39.42,29.563522,19.01,14.256787,29.47,22.101395,...,94605,25448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,110010002021,47.44,47.44,15.31,32.272344,3.78,7.967960,12.79,26.960371,...,250000,25448,1179.0,1094.0,935.0,43.0,5.0,98.0,0.0,13.0
3,4,110010002022,33.48,33.48,11.52,34.408602,2.86,8.542413,8.84,26.403823,...,217056,93935,775.0,719.0,646.0,13.0,1.0,47.0,0.0,12.0
4,5,110010002023,38.17,38.17,9.17,24.024103,1.68,4.401362,13.59,35.603877,...,185465,72914,926.0,848.0,757.0,24.0,3.0,50.0,0.0,14.0

In [135]:
combined_utc_census_df.columns

Index(['OBJECTID', 'census_bg', 'Total Area in acres',
       'Total Land Area in acres', 'Tree Canopy in acres',
       'Tree Canopy area in percent', 'Vegetation in acres',
       'Vegetation Percentage', 'Building area in acres',
       'Building area in percent', 'Total Impervious Area in acres',
       'Total Impervious Area in percent', 'Road Acres',
       'Road Area in percent', 'Sidewalk Area in acres',
       'Sidewalk Area in percent', 'OT_IA_AC', 'OT_IA_PCT',
       'Surface Water Area in acres', 'Surface Water Area in percent',
       'Soil area in acres', 'Soil area in percent',
       'Urban Tree Canopy area in acres', 'Urban Tree Canopy area percent',
       'Possible Vegetation Planting Area in acres',
       'Possible Vegetation Planting Area in percent',
       'Total Possible Planting Area in acres',
       'Total Possible Planting Area in percent',
       'Impervious Possible Planting Area in acres',
       'Impervious Possible Planting Area in percent',
       'Unsuitable Impervious Planting Buildings and Roads Area in acres',
       'Unsuitable Impervious Planting Buildings and Roads Area in percent',
       'Total Unsuitable Planting Area in acres',
       'Total Unsuitable Planting Area in percent',
       'Unsuitable Soil and Vegetation Area in acres',
       'Unsuitable Soil and Vegetation Area in percent',
       'Unsuitable Other Land Area in acres',
       'Unsuitable Other Land Area in percent', 'WATER_AC', 'WATER_PCT',
       'SHAPEAREA', 'SHAPELEN', 'Geographic Area Name',
       'Income in the past 12 months below poverty level',
       'Margin of Error - Income in the past 12 months below poverty level',
       'Median household income in the past 12 months',
       'Margin of Error - Median household income in the past 12 months',
       'Total Population', 'Total Population of one race',
       'Total White Population', 'Total African American Population',
       'Total American Indian Population', 'Total Asian Population',
       'Total Native Hawaiian Population', 'Total Population of Other Races'],
      dtype='object')

In [136]:
# drop additional columns
combined_utc_census_df = combined_utc_census_df.drop(columns=['OBJECTID', 'WATER_AC', 'WATER_PCT', 'Margin of Error - Income in the past 12 months below poverty level', 'Margin of Error - Median household income in the past 12 months'])

In [137]:
combined_utc_census_df = combined_utc_census_df.rename(columns={'OT_IA_AC':'Other Impervious Area in acres' ,'OT_IA_PCT':'Other Impervious Area in percent'})

In [138]:
combined_utc_census_df.columns

Index(['census_bg', 'Total Area in acres', 'Total Land Area in acres',
       'Tree Canopy in acres', 'Tree Canopy area in percent',
       'Vegetation in acres', 'Vegetation Percentage',
       'Building area in acres', 'Building area in percent',
       'Total Impervious Area in acres', 'Total Impervious Area in percent',
       'Road Acres', 'Road Area in percent', 'Sidewalk Area in acres',
       'Sidewalk Area in percent', 'Other Impervious Area in acres',
       'Other Impervious Area in percent', 'Surface Water Area in acres',
       'Surface Water Area in percent', 'Soil area in acres',
       'Soil area in percent', 'Urban Tree Canopy area in acres',
       'Urban Tree Canopy area percent',
       'Possible Vegetation Planting Area in acres',
       'Possible Vegetation Planting Area in percent',
       'Total Possible Planting Area in acres',
       'Total Possible Planting Area in percent',
       'Impervious Possible Planting Area in acres',
       'Impervious Possible Planting Area in percent',
       'Unsuitable Impervious Planting Buildings and Roads Area in acres',
       'Unsuitable Impervious Planting Buildings and Roads Area in percent',
       'Total Unsuitable Planting Area in acres',
       'Total Unsuitable Planting Area in percent',
       'Unsuitable Soil and Vegetation Area in acres',
       'Unsuitable Soil and Vegetation Area in percent',
       'Unsuitable Other Land Area in acres',
       'Unsuitable Other Land Area in percent', 'SHAPEAREA', 'SHAPELEN',
       'Geographic Area Name',
       'Income in the past 12 months below poverty level',
       'Median household income in the past 12 months', 'Total Population',
       'Total Population of one race', 'Total White Population',
       'Total African American Population', 'Total American Indian Population',
       'Total Asian Population', 'Total Native Hawaiian Population',
       'Total Population of Other Races'],
      dtype='object')

In [139]:
# write the output to a csv file for further use
combined_utc_census_df.to_csv('UTC_Census_Data_Merged.csv')

In [140]:
import geopandas as gpd

In [141]:
gdf = gpd.read_file('Urban_Tree_Canopy_by_Census_Block_Group_in_2015 (1).geojson')

In [142]:
gdf.head()

,OBJECTID_1,OBJECTID,TRACT,BLKGRP,GEOID,GID,TOTAL_AC,LAND_AC,T_CAN_AC,T_CAN_PCT,...,PCT_CHG_11,GIS_ID,GLOBALID,CREATOR,CREATED,EDITOR,EDITED,SHAPEAREA,SHAPELEN,geometry
0,1,66,001600,4,110010016004,66,413.09,409.92,300.36,73.272834,...,-3.426928,temp_66,{FA0A3D90-3FAF-4745-AC2A-4EB65815451A},None,None,None,None,0,0,"POLYGON ((-77.03634 38.98640, -77.03634 38.987..."
1,2,63,001600,1,110010016001,63,118.47,118.47,47.14,39.790664,...,-5.891787,temp_63,{C8084982-F006-490A-AD3B-5538B96ED689},None,None,None,None,0,0,"POLYGON ((-77.02742 38.98330, -77.02708 38.983..."
2,3,58,001500,1,110010015001,58,772.10,770.79,653.75,84.815579,...,1.242308,temp_58,{23037077-9214-4A79-94CA-648AB87BF79E},None,None,None,None,0,0,"POLYGON ((-77.05004 38.98607, -77.05177 38.986..."
3,4,428,010300,2,110010103002,428,60.03,60.03,17.30,28.818924,...,0.978204,temp_428,{450DEC48-E273-483C-B534-B20399073644},None,None,None,None,0,0,"POLYGON ((-77.02317 38.98186, -77.02430 38.982..."
4,5,64,001600,2,110010016002,64,47.78,47.78,16.38,34.282126,...,-2.169014,temp_64,{58B87F53-A1B5-4162-9C33-793F38AA1EFD},None,None,None,None,0,0,"POLYGON ((-77.02643 38.97806, -77.02643 38.978..."

In [143]:
gdf.columns

Index(['OBJECTID_1', 'OBJECTID', 'TRACT', 'BLKGRP', 'GEOID', 'GID', 'TOTAL_AC',
       'LAND_AC', 'T_CAN_AC', 'T_CAN_PCT', 'VEG_AC', 'VEG_PCT', 'BLD_AC',
       'BLD_PCT', 'TO_IA_AC', 'TO_IA_PCT', 'ROAD_AC', 'ROAD_PCT', 'SWALK_AC',
       'SWALK_PCT', 'OT_IA_AC', 'OT_IA_PCT', 'WAT_AC', 'WAT_PCT', 'SOIL_AC',
       'SOIL_PCT', 'UTC_AC', 'UTC_PCT', 'PPA_V_AC', 'PPA_V_PCT', 'TO_PPA_AC',
       'TO_PPA_PCT', 'PPA_IA_AC', 'PPA_IA_PCT', 'UN_IA_AC', 'UN_IA_PCT',
       'TO_UN_AC', 'TO_UN_PCT', 'UN_SL_AC', 'UN_SL_PCT', 'UN_OT_AC',
       'UN_OT_PCT', 'WATER_AC', 'WATER_PCT', 'UTC_AC06', 'UTC_PCT06',
       'UTC_AC11', 'UTC_PCT11', 'PCT_CHG_06', 'PCT_CHG_11', 'GIS_ID',
       'GLOBALID', 'CREATOR', 'CREATED', 'EDITOR', 'EDITED', 'SHAPEAREA',
       'SHAPELEN', 'geometry'],
      dtype='object')

In [144]:
gdf = gdf.rename(columns = {'GEOID':'census_bg'})

In [145]:
gdf = gdf.drop(columns=['OBJECTID_1', 'OBJECTID', 'TRACT', 'BLKGRP', 'GID', 'TOTAL_AC',
       'LAND_AC', 'T_CAN_AC', 'T_CAN_PCT', 'VEG_AC', 'VEG_PCT', 'BLD_AC',
       'BLD_PCT', 'TO_IA_AC', 'TO_IA_PCT', 'ROAD_AC', 'ROAD_PCT', 'SWALK_AC',
       'SWALK_PCT', 'OT_IA_AC', 'OT_IA_PCT', 'WAT_AC', 'WAT_PCT', 'SOIL_AC',
       'SOIL_PCT', 'UTC_AC', 'UTC_PCT', 'PPA_V_AC', 'PPA_V_PCT', 'TO_PPA_AC',
       'TO_PPA_PCT', 'PPA_IA_AC', 'PPA_IA_PCT', 'UN_IA_AC', 'UN_IA_PCT',
       'TO_UN_AC', 'TO_UN_PCT', 'UN_SL_AC', 'UN_SL_PCT', 'UN_OT_AC',
       'UN_OT_PCT', 'WATER_AC', 'WATER_PCT', 'UTC_AC06', 'UTC_PCT06',
       'UTC_AC11', 'UTC_PCT11', 'PCT_CHG_06', 'PCT_CHG_11', 'GIS_ID',
       'GLOBALID', 'CREATOR', 'CREATED', 'EDITOR', 'EDITED', 'SHAPEAREA',
       'SHAPELEN', ])

In [146]:
gdf.head()

      census_bg                                           geometry
0  110010016004  POLYGON ((-77.03634 38.98640, -77.03634 38.987...
1  110010016001  POLYGON ((-77.02742 38.98330, -77.02708 38.983...
2  110010015001  POLYGON ((-77.05004 38.98607, -77.05177 38.986...
3  110010103002  POLYGON ((-77.02317 38.98186, -77.02430 38.982...
4  110010016002  POLYGON ((-77.02643 38.97806, -77.02643 38.978...

In [147]:
gdf['census_bg']= gdf['census_bg'].apply(pd.to_numeric)

In [148]:
final_df = combined_utc_census_df.merge(gdf, how='inner', on='census_bg')

In [149]:
final_df.head()

,census_bg,Total Area in acres,Total Land Area in acres,Tree Canopy in acres,Tree Canopy area in percent,Vegetation in acres,Vegetation Percentage,Building area in acres,Building area in percent,Total Impervious Area in acres,...,Median household income in the past 12 months,Total Population,Total Population of one race,Total White Population,Total African American Population,Total American Indian Population,Total Asian Population,Total Native Hawaiian Population,Total Population of Other Races,geometry
0,110010001004,287.26,166.02,92.93,55.975184,5.89,3.547765,31.54,18.997711,67.01,...,216513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-77.05708 38.90770, -77.05738 38.907..."
1,110010002011,133.35,133.34,39.42,29.563522,19.01,14.256787,29.47,22.101395,74.91,...,94605,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"POLYGON ((-77.07412 38.91259, -77.07433 38.912..."
2,110010002021,47.44,47.44,15.31,32.272344,3.78,7.967960,12.79,26.960371,28.35,...,250000,1179.0,1094.0,935.0,43.0,5.0,98.0,0.0,13.0,"POLYGON ((-77.06568 38.91183, -77.06583 38.912..."
3,110010002022,33.48,33.48,11.52,34.408602,2.86,8.542413,8.84,26.403823,19.01,...,217056,775.0,719.0,646.0,13.0,1.0,47.0,0.0,12.0,"POLYGON ((-77.06890 38.90774, -77.06850 38.907..."
4,110010002023,38.17,38.17,9.17,24.024103,1.68,4.401362,13.59,35.603877,27.32,...,185465,926.0,848.0,757.0,24.0,3.0,50.0,0.0,14.0,"POLYGON ((-77.06702 38.90509, -77.06678 38.905..."

In [150]:
# write the output to a csv file for further use
final_df.to_csv('UTC_Census_Data_Merged_GEO.csv')